*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    height: 8000px;
}
.img-bkg-home{
    background-image: url(../images/home.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.overlay{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.header{
    width: 80%;
    height: 55px;
    position: fixed;
    background-color:rgba(26, 26, 136, 0.7);  
    z-index: 1000;
    border-radius: 15px;
    margin-left: 100px;
}
.ul-header{
    list-style: none;
    float: right;
    margin-right: 40px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ul-header  li{
    display: inline-block;
    margin-right: 20px;
}
.ul-header  li  a{
    position: relative;
    color: white;
}
.line::after{
    content: "";
    position: absolute;
    width:0% ;
    height: 1px;
    left: 0;
    bottom: -6;
    background-color: rgb(255, 255, 255);
    
}
.line:hover::after{
    width: 100%;
    height: 1px;
    transition: 0.2s;
}
.i1{
    color: white;
    font-size: 25px;
    margin-top: 12px;
    margin-left: 10px;
}
.text1{
    position: absolute;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 10px;
    height: 30px;
    width: 200px;
    z-index: 0;
    border: none;
}
.i2{
    position: absolute;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    z-index: 2;
}
.hero-img{
    width: 50%;
    position: absolute;
    transform: translate(-50 , -50);
    top: 42%;
    left: 25%;
    text-align: center;
    z-index: 6;
}
.hero-title{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
}
.descripe{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.btn{
    margin-top: 50px;
    width: 150px;
    height: 55px;
    margin-left: 15px;
    border-radius: 20px;
    font-size: 20px;
}
.home-button2{
    background-color:rgb(26, 26, 136) ;
    border: none;
    color: #ffffff; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.home-button2:hover {
    opacity: 0.7;
    background-color:  rgb(26, 26, 136);
    color: #fffefe;
}
.home-button1{
    background-color: white;
    color: #000;
    border:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-button1:hover{
    opacity: 0.7;
    background-color: #ffffff;
    color: #000;
}
.dropdown{
    position: relative;
}
.dropdown-menu {
    position: absolute;       
    background-color: #0f0c1d;
    width: 180px;         
    padding: 10px 0;
    border-radius: 6px;
    border-top: 3px solid  #bc9ee9;
    opacity: 0;               
    visibility: hidden;      
    transition: 0.3s; 
    margin-top: 10px;
}
.dropdown-menu li a {
    padding: 10px 20px;
    display: block;         
    font-size: 14px;
}
.dropdown:hover .dropdown-menu {       
    opacity: 1;              
    visibility: visible;    
}
.second-page{
    height: 80vh;
    width: 100%;
}
.welcome{
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line-best{
    width: 120px;
    height: 3px;
    background-color:#4C1D95 ;
    margin:auto;
    margin-top: 20px;
}
.best{
    width: 300px;
    height: 250px;
    border: 2px  solid  #4C1D95 ;
    border-radius: 10px;
    float: left;
    margin-top: 150px;
    margin-left: 90px;
    text-align: center;
    position: relative;
}
.h-best{
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.best:hover  .h-best{
    color: #ffffff;
}
.p-best{
    margin-top: 15px;
    color: #9e9da0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.best:hover  .p-best{
    color: #000;
}
.a-best{
    display: inline-block;
    margin-top: 20px;
    color: #4C1D95;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.third-page{
    width: 100%;
    height: 100vh;
    background-color :#f3f0f8;
    font-weight: bold;
}
.dam{
    font-size: 30px;
    margin-top: 20px;
    color: #4C1D95;
}
.best::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(11, 40, 136, 0.425);
    opacity: 1;
    z-index: -1;
}
.best:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.5;
}
.title_3{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line2{
    width: 120px;
    height: 3px;
    background-color:#4C1D95 ;
    margin:auto;
    margin-top: 20px;
}
.services{
    width: 250px;
    height: 200px;
    float: left;
    margin-top: 50px;
    margin-left: 130px;
    text-align: center;
    position: relative;
}
.img_gym{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.ov1{
    opacity: 0;
    transition: 0.3s;
}
.ov1:hover{
    opacity: 1;
}
.content{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
}
.h_content{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    color: #9e9da0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p_content{
    margin-top: 20px;
}
.i3{
    margin-top: 30px;
    background-color: white;
    color: #8b8989;
    margin-left: 4px;
    font-size: 20px;
    width: 30px;
    height: 25px;
    padding-top: 3px;
    border-radius: 5px;
}
.Offer{
    width: 320px;
    height: 200px;
    border: 2px   solid  #4C1D95 ;
    border-radius: 10px;
    float: left;
    margin: 1.5%;
    margin-top: 50px;
    position: relative;
}
.section_four{
    height: 90vh;
    width: 100%;
}
.title_4{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.o1{
    margin-left: 120px;
}
.h_offer{
    color: #000;
    width: 150px;
    margin-left: 70px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}
.Offer:hover  .h_offer{
    color:  #8850db;
}
.p_offer{
    color: #928f8f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    margin-left: 70px;
    text-align: left;
    margin-top: 10px;
}
.Offer:hover  .p_offer{
    color: #000;
}
.i4{
    color: #4C1D95;
    font-size: 30px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    
}
.Offer::after{
     content: '';
     position: absolute;
     width: 0%;
     height: 0%;
     top: 0%;
     left: 0%;
     background-color: #a579e7;
     opacity: 0.6;
}
.Offer:hover::after{
    height: 100%;
    width: 100%;
    opacity: 0.3;
    transition: 0.5s;
}
.section_five{
    height: 100vh;
    width: 100%;
}
.h_about{
    padding-top: 150px;
    padding-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 43px;
}
.line3{
    width: 110px;
    height: 4px;
    background-color:#915edd ;
    margin-top: 10px;
    margin-left: 150px;
}
.p_ab{
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    color: #919092;
    padding-left: 150px;
}
.content_about  i{
    margin-top: 25px;
    color: blue;
}
.p2{
    margin-left: 150px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #696868;
}
.img_about{
    width: 400px;
    height: 450px;
    margin-left: 700px;
    margin-top: -370px;
}
.circle{
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #8b8989;
    margin-top: 10px;
    display: inline-block;
    margin-left: 7px;
}
.c1{
    margin-left: 860px;
    background-color: rgb(93, 93, 95);
}
.circle:hover{
    background-color:rgb(93, 93, 95) ;
}
.section_six {
  width: 100%;
  height: 400px;
  background-image: url(../images/gym8.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.section_six  div{
    display: inline-block;
    margin-left: 160px;
    margin-top: 150px;
}
.section_six  i{
      color: #ad82ee;
      font-size: 40px;
      margin-left: 16px;
}
.section_six  h2{
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 15px;
}
.section_six  p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.i5{
    padding-left: 20px;
}
.i6{
    padding-left: 12px;
}
.title1{
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section_seven{
    height: 100vh;
    width: 100%;
}
.price{
    width: 300px;
    height: 400px;
    border: 2px   solid  #4C1D95 ;
    border-radius: 10px;
    float: left;
    margin: 1.5%;
    margin-top: 60px;
    position: relative;
}
.n1{
    margin-left: 145px;
}
.p_price7{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 20px;
}
.h_price7{
    width: 110px;
    height: 110px;
    text-align: center;
    margin-left: 90px;
    margin-top: 30px;
    border: 1px  #4C1D95  solid;
    border-radius: 55px;
    font-size: 50px;
}
.p3{
    font-size: 20px;
}
.p_price{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.p4{
    margin-top: 30px;
}
.btn3{
    margin-top: 30px;
    position: absolute;
    width: 180px;
    height: 35px;
    margin-left: 60px;
    border-radius: 10px;
    background-color: #e3ddee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(39, 37, 37);
    font-size: 15px;
    border: #4C1D95  1px   solid;
    z-index: 15;
}
.price::after{
    content: '';
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: rgba(173, 131, 247, 0.7);
    top: 0;
    left: 0;
    transition: 0.4s;
    opacity: 1;
}
.price:hover::after{
    height: 100%;
    opacity: 0.5;
}
.price:hover .p_price7{
    color: #8850db;
}
.price:hover  .h_price7{
    border: 2px  #4C1D95  solid;
}
.section_eight {
    width: 100%;
    height: 400px;
    background-image: url(../images/gym9.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.manager {
    width: 40%;
    position: absolute;
    left: 5%;
    top: 50px;
    text-align: center;
}
.coach {
    width: 40%;
    position: absolute;
    right: 5%;
    top: 50px;
    text-align: center;
}
.img_team {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px;
}
.h_team {
    display: block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.p_train {
    display: block;
    color: rgb(178, 169, 233);
    font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}
.s1,.s2 {
    display: block;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 350px;
}
.title1{
    text-align: center;
    font-weight: bold;
    font-size: 55px;
}
.line1{
    width: 85px;
    height: 4px;
    margin: auto;
    margin-top: 20px;
    background-color: #4C1D95;

}
.team-container{
    width: 80%;
    margin: auto;
    
}
.i11{
    font-size: 20px;
    color: blue;
}
.i12{
    font-size: 20px;
    color: rgb(116, 116, 237);
}
.i13{
    font-size: 20px;
    color: blue;
}
.team-item{
    float: left;
    background-color: #ecebee;
    width: 30%;
    margin-top: 100px;
    padding: 18px  14px;
    text-align: center;
    position: relative;
    border: #4C1D95  solid   1px;
}
.team-item2{
    margin: 100px  5%;
}
.team-img{
    width: 80%;
    margin: auto;
    position: relative;
}
.team-img  img{
    width: 100%;
}
.team-icons{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(109, 107, 107, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}
.team-item:hover  .team-icons{
    visibility: visible;
    opacity: 1;
}
.team-icons  i{
    display: block;
    background-color: blue;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: auto;
    color: aliceblue;
}
.team-item::after{
    content: "";
    position: absolute;
    width:0% ;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(196, 176, 230, 0.5);
    opacity: 1;
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.6s;
    opacity: 0.5;
}
.section_nine{
    height: 80vh;
    width: 100%;
}
.section_ten{
    height: 100vh;
    width: 100%;
}
.prog{
    width: 300px;
    height: 400px;
    border: 1px   solid  #4C1D95 ;
    border-radius: 10px;
    float: left;
    margin: 1.5%;
    margin-top: 90px;
    position: relative;
}
.ram{
    margin-left: 150px;
}
.img_program{
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 25px;
    position: absolute;
    z-index: 90;
}
.c_program{
    margin-top: 220px;
    margin-left: 40px;
}
.ahmed{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.i90{
    margin-left: 18px;
    color: blue;
    font-size: 15px;
}
.i91{
    margin-left: 10px;
    background-color: #C13584;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}
.insta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.i92{
    margin-left: 10px;
    color: #543ae4;
    font-size: 15px;
}
.mo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
.p_mo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    color: #797676;
}
.a_read{
    display: inline-block;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 110px;
    transform: translateY(15px);
}
.prog::after{
    content: "";
    position: absolute;
    width:100% ;
    height: 0%;
    top: 0;
    left: 0;
    background-color:rgba(173, 131, 247, 0.7);
    opacity: 1;
    z-index: -10;
}
.prog:hover::after{
    height: 100%;
    transition: 0.4s;
    opacity: 0.5;
}
.prog:hover  .mo{
    color: rgb(255, 255, 255);
}
.prog:hover  .p_mo{
    color: #6958ca;
}
.finish{
    height: 50vh;
    width: 100%;
    background-color: rgba(111, 111, 245, 0.6);
    
}
.img_finish{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 420px;
}
.icons{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
.icons  i{
    background-color: rgba(86, 88, 241,0.7);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding-top: 10px;
}
.icons  i:hover{
    background-color: #543ae4;
}
.copy{
    text-align: center;
    margin-top: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f3e3e;
}